{% extends './base.html' %}
{% block page_title %} {{title }} {% endblock page_title %}

{% block content %}
    <main>
        <section>
            <div class="container">
                <div class="flex-item">
                    <article>
                        <h1>Terms and condition</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolor qui velit ducimus corrupti ipsam iste doloribus, obcaecati totam accusamus aliquam nesciunt eos ad! Minus at dolor nam quasi aspernatur?
                        </p>
                        <h2>Things you should be aware of:</h2>
                        <ol>
                            <li>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, inventore similique reprehenderit molestiae sapiente corporis perspiciatis illo unde ex dignissimos fuga iusto quisquam facere, qui commodi ipsa eligendi, deserunt culpa?
                                </p>
                            </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure error cupiditate quaerat exercitationem assumenda corporis porro odit labore ullam dignissimos eaque repellat ipsum quod eos natus, minus quia unde tempore!
                                </p>
                            </li>
                            <li>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae. Quisquam, quae.
                                </p>
                            </li>
                        </ol>
                        <h2>Data that we collect: </h2>
                        <table class="table__list">
                            <thead>
                                <tr>
                                    <th>What</th>
                                    <th>Why</th>
                                    <th>How</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Meeting data</td>
                                    <td>For the purpose of showing meetings</td>
                                    <td>Stored in a database</td>
                                </tr>
                                <tr>
                                    <td>Room data</td>
                                    <td>For the purpose of showing rooms</td>
                                    <td>Stored in a database</td>
                                </tr>
                                <tr>
                                    <td>Meeting data</td>
                                    <td>For the purpose of showing meetings</td>
                                    <td>Stored in a database</td>
                                </tr>
                                <tr>
                                    <td>Room data</td>
                                    <td>For the purpose of showing rooms</td>
                                    <td>Stored in a database</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2>
                            What you can do?
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloremque quos! Doloremque similique laborum, deserunt deleniti, harum officia magnam esse libero, cumque culpa vitae perferendis iure expedita porro fugit a.
                        </p>
                        <h2>
                            What we can do?
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloremque quos! Doloremque similique laborum, deserunt deleniti, harum officia magnam esse libero, cumque culpa vitae perferendis iure expedita porro fugit a.
                        </p>
                        <footer>
                            <p>
                                <small>
                                    Last updated: 2019-10-10
                                </small>
                            </p>
                        </footer>
                    </article>
                </div>
            </div>
        </section>
    </main>
    {% endblock content %}